# General modules 
Django==4.2
python-decouple==3.8
pillow
djangorestframework==3.14



# Third party modules   
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser
django-cors-headers


# deployment modules

# email third party modules
django-mail-templated

# refactoring  and testing 
black
flake8
pytest
pytest-django
Faker

# Background process and cache
celery
redis