# General modules 
Django==4.2
python-decouple==3.8
pillow
djangorestframework==3.14
rest_framework_simplejwt==5.0.0 


# Third party modules   
python-decouple
django-filter
drf-yasg[validation]



# deployment modules

# email third party modules
django-mail-templated

# refactoring  and testing 
black
flake8
pytest
pytest-django